*.xml
*.bz2
*.pyc

docs/*
!docs/*.pdf
!docs/*.tex

*.txt

fetch/data/wikipedia/wikitest

fetch/data/wikipedia/better

fetch/data/wikipedia/parsed/*

fetch/data/wikipedia/better

fetch/data/wikipedia/wikitest