* {
	font-family:"Georgia";
}

body {
	background: #EEE url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/light_toast.png") repeat;
}

span {
	border-radius:4px;
	font-family:inherit;
}

a {
	text-decoration:none;
	color:#555;
}

a:hover {
	color:#000;
}

p {
	line-height: 200%;
}

h1, h2 {
	font-family: Arial;
	font-weight:normal;
}

h1 {
	padding:10px;
	border-bottom:1px solid #CCC;
	text-align:center;
}

ul {
	list-style: none;
}

nav {
	text-align:center;
}

nav a {
	border-radius:5px;
	background-color:#FFF;
	margin:0px 60px;
	padding:4px 12px;
}

nav a:hover { 
	background-color:#FF0;
}

input:focus {
	outline: none;
}

#content #logo {
	margin-bottom:30px;
}

#content #search {
	font-size:18pt;
	width:300px;
	height:30px;
}

#header {
    background-color:#FFF;
	position: fixed;
	border-bottom:1px solid #CCC;
    left: 0;
    top: 0;
    width: 100%;
    padding:10px;
    height:40px;
}

#header #logo {
	width:35px;
}

#header #search {
	position:absolute;
	top:20px;
	right:40px;
	font-size:12pt;
	width:300px;
	height:20px;
}

#content {
	margin-top:80px;
	width:80%;
}

#footer {
	position:relative;
	width:100%;
	height:30px;
	margin-top:30px;
	margin-bottom:20px;
}

.box {
	border-radius:20px;
	background-color:#FFF;
	padding:10px 50px;
}

.center {
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}